<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-content">
                <div class="footer-section about">
                    <h2>About Us</h2>
                    <p>Welcome to Restaurant Hub, where culinary excellence meets warm hospitality. Established
                        in 2020, we have been delighting diners with our exquisite cuisine and exceptional service.
                        <br>
                        At Restaurant Hub, we believe in the power of food to bring people together and create
                        memorable experiences. Our talented chefs meticulously craft each dish using the finest
                        ingredients sourced locally and globally. From traditional favorites to innovative creations,
                        our menu offers something to tantalize every palate.
                        <br>

                        Located in the heart of Lahore, our restaurant reflects the vibrant spirit of our
                        community. We take pride in supporting local farmers and artisans, fostering sustainability, and
                        giving back to the neighborhoods we serve.
                        <br>
                        Thank you for choosing Restaurant Hub. We look forward to welcoming you and creating
                        unforgettable moments together.
                    </p>
                </div>
                <div class="footer-section contact">
                    <h2 class="contact-heading-footer">Contact Us</h2>
                    <div class="contact-info">
                        <span><i class="fas fa-map-marker-alt"></i> Gulberg, Lahore, Pakistan</span>
                        <span><i class="fas fa-envelope"></i> info@restaurantHub.com</span>
                        <span><i class="fas fa-phone"></i> +92 345678907</span>
                    </div>
                </div>
                <div class="footer-section social">
                    <h2 class="socialLinks-heading-footer">Follow Us</h2>
                    <div class="social-links">
                        <a href="#">
                            <img title="facebook"
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAU1JREFUSEu1VYFtAyEM9G3STNJmk2aStJM0nSTdpOkkzt8LLD+YB5TGUsQrgM/2nQ3kyYYn+5cugKq+iQh/r2m9LeuPiPxxBcDvpjUBVPVFRL6S0z0fBDwC4FpZCKCqHyJynigfnX8D4L2NVQATzumUWXr7LEE2AKksvzuR0ymdXPKZIiDunzwvJcC1U/NDWesg4xuAQw7AAFT1PZHaSuAC4OQiZ3l4J6vL3yPpq7o8QI9Yq+9AMHbWA1CSjKhlrO1a+wEhsD+OZQYkt1SFB5sBMB58BhHAhrAoNVUNhYFFr2UG0cERgCgwE0SP5HUMrJG4UZD6JScU9U0IwIHGLP6DZONrptFGSTYFbThI8qOKWqNiFMCarALoaHwEYH/YNQZY/rsHYPuexJkHpwVQTdAhgGCo2fOYZhH5ohzDl6yapjvyfGir++g/5H25fAcXRb0Zoc7OswAAAABJRU5ErkJggg==" />
                        </a>
                        <a href="#">
                            <img title="twitter"
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAASlJREFUSEvlVcsVwjAMszehkwCT0E4CTAJMAkwCm4ioz3mk+TU5cCKXNK1tObLsqvx46Y/jy58CANiJyFFENkbxTVVPAHge+eypX1AE4C4ik6q+S7UBMIrIJfOdPgSg/7UEAJcBDeeMciAAaFNa9H2YP/dvke16r8Dz7DK6hrepZB8C7lV1Dr4A4MEoIr9+MaP5RraTghw93p4JTSFaXAPyGxavt03KABmKeoPTflHgFop6QYZYgTFF5JhS9fruAlAnvdgheWFNdGDDdEXP0JNQZEoqNVIN762qQ84gO+xcL7HJqKbWtdB+UabhBz9XGoAS5VQBLDBteIO1OhQzTzrZArcqiKOgOhQTACsw5clRsTWphnLlyHjG82mtSH/6R1ujpUmmPUFqth9jNG4ZtZXXXAAAAABJRU5ErkJggg==" />
                        </a>
                        <a href="#">
                            <img title="instagram"
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAYVJREFUSEvFVUFOAzEMnPkE17YvgV565wFI9CUUiX90+wxOwEsoHLjzAtOJksibpEsQWnVPrdb2jMdjLzHzw5nr4zIAZrYEcA/gGsDNRJfH+O4VwCPJ9D+nVB2YmQrvY4QSlDz1iIxIKPZAcueDRwCR+buKklz3zifmvcT4LclMqgQQc3WwarVbAprZnaQB8A3gFkBFrgRQwLHFPkonORYA3kgOZrYB8Azgk+TCzEIXPr8EMAADyW1iG9tXZ+WwpfkTgC8AVyQPEWB5+r1K+T0AYqXicsnOOewhdpuLmVmQmKfALgDnqFDcz8C9W6eh9gLkYimhNXTnuCr+tw58glhLiqarzEwz+xeAtNcMWhIlcPl+kHy9EmUXOQfJnmFLiyGPFvLPAJGVip+zqQac708PQLUoDkRy6fh9RHsGWQpnVYvaOhUqNGLWc5Ocq0aLeu7Yqe1ukGLb816Es9FoM51rf+t7zrVisqOam1zcH/k/3fopgPTNkMuqb8dlPpk9Q+2Nmb2DH26X+xln2NoRAAAAAElFTkSuQmCC" />
                        </a>
                        <a href="#">
                            <img title="pinterest"
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAZdJREFUSEu1VYtRwzAMlTahk0A3oZNAJ6GdBJgEmETk+SzxIsvN5bjqLufEsfX8nj5WubPpnf3LJoCZPYkInsc+fi/jh4j8YFRVvE9tCmBmDyLy1p3e8gHAo6piHKwEMLNXEXnZIR+cX1UV+1Y2AGw4hyM8kKyycwZZAXRZvtJOODxlrfva58R0WJsB3tPp4kQU7MbCAc0MIIiVG/4d/CMAioXIkOONYLf/cFTIiqC37GKAVWB1EbNvdlaV/hdVPRXSBnMGAE3QhTWaxIpPyzKGHGbG87GeARBc5D7MT+asEORLZ8TrMHVADSSAAJ4BuP4OEJraIjhnGUm5AvZ5Bhiok7ZN0yIRGtPOjIFjfhYDlgknA8ClyJYmXQEckjIAqhMs2KA7Au86Y43nfLQGM8txGQFSSq77yV/KtiTwxjapkcigVR10gJJFz3VvC1dCrxpiJMQAMKlK15nrJCkZnyHN0Cp4RwqmA2SdM8jQSUsGvov0PfcC5IbGzvdfOIkNAgv9cWV6pcPp57+uzJnIe+c3L/29DvP6X/uCAigCVstdAAAAAElFTkSuQmCC" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2024 Restaurant Hub. All rights reserved.
        </div>
    </footer>

</body>

</html>