<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <title>Our Beverages</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>

    <!-- Header -->
    <%- include('partials/header') %>

        <header>
            <h1>Beverage Menu</h1>
        </header>
        <main>
            <div class="burger-container">
                <div class="burger-item" id="mango-lassi">
                    <img src="/images/beverages/mangoLassi.jpg" alt="Mango Lassi">
                    <h2>Mango Lassi</h2>
                    <p>$4.99</p>
                </div>
                <div class="burger-item" id="mint-lemonade">
                    <img src="/images/beverages/mintLemonade.jpg" alt="Mint Lemonade">
                    <h2>Mint Lemonade</h2>
                    <p>$3.99</p>
                </div>
                <div class="burger-item" id="rosewater-sharbat">
                    <img src="/images/beverages/rosewaterSharbat.jpg" alt="Rosewater Sharbat">
                    <h2>Rosewater Sharbat</h2>
                    <p>$4.99</p>
                </div>
                <div class="burger-item" id="pomegranate-juice">
                    <img src="/images/beverages/pomegrantJuice.jpg" alt="Pomegranate Juice">
                    <h2>Pomegranate Juice</h2>
                    <p>$5.99</p>
                </div>
                <div class="burger-item" id="coconut-water">
                    <img src="/images/beverages/coconutWater.jpg" alt="Coconut Water">
                    <h2>Coconut Water</h2>
                    <p>$3.49</p>
                </div>
                <div class="burger-item" id="iced-chaiLatte">
                    <img src="/images/beverages/icedChaiLatte.webp" alt="Iced Chai Latte">
                    <h2>Iced Chai Latte</h2>
                    <p>$4.99</p>
                </div>
                <div class="burger-item" id="date-grapeDrink">
                    <img src="/images/beverages/dateGripDrink.jpg" alt="Date and Grape Drink">
                    <h2>Date and Grape Drink</h2>
                    <p>$4.49</p>
                </div>
                <div class="burger-item" id="lemon-mintTea">
                    <img src="/images/beverages/lemonMintTea.jpg" alt="Lemon Mint Tea">
                    <h2>Lemon Mint Tea</h2>
                    <p>$3.99</p>
                </div>
                <div class="burger-item" id="falooda">
                    <img src="/images/beverages/falooda.jpg" alt="Falooda">
                    <h2>Falooda</h2>
                    <p>$6.49</p>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <%- include('partials/footer') %>

            <script src="/js/script.js"></script>
</body>

</html>