<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <title>Chicken Menu</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>

    <!-- Header -->
    <%- include('partials/header') %>

        <header>
            <h1>Chicken Menu</h1>
        </header>
        <main>
            <div class="burger-container">
                <div class="burger-item" id="classic-burger">
                    <img src="/images/chicken/grilledChicken.jpg" alt="Grilled Chicken">
                    <h2>Grilled Chicken Breast</h2>
                    <p>$10.99</p>
                </div>
                <div class="burger-item" id="fried-wings">
                    <img src="/images/chicken/friedChicken.jpg" alt="Fried Wings">
                    <h2>Fried Chicken Wings</h2>
                    <p>$8.99</p>
                </div>
                <div class="burger-item" id="bbq-thighs">
                    <img src="/images/chicken/bbqChicken.jpg" alt="BBQ Chicken Thighs">
                    <h2>BBQ Chicken Thighs</h2>
                    <p>$9.49</p>
                </div>
                <div class="burger-item" id="buffalo-wings">
                    <img src="/images/chicken/buffaloWings.jpg" alt="Buffalo Wings">
                    <h2>Buffalo Chicken Wings</h2>
                    <p>$9.99</p>
                </div>
                <div class="burger-item" id="chicken-tender">
                    <img src="/images/chicken/chickenTender.jpg" alt="Chicken Tender">
                    <h2>Chicken Tenders</h2>
                    <p>$7.99</p>
                </div>
                <div class="burger-item" id="honey-garlicChicken">
                    <img src="/images/chicken/honeyGarlic.jpg" alt="Honey Garlic Chicken">
                    <h2>Honey Garlic Chicken</h2>
                    <p>$10.49</p>
                </div>
                <div class="burger-item" id="chicken-drumsticks">
                    <img src="/images/chicken/chickenDrumsticks.jpg" alt="Chicken Drumsticks">
                    <h2>Spicy Chicken Drumsticks</h2>
                    <p>$9.99</p>
                </div>
                <div class="burger-item" id="lemon-herbChicken">
                    <img src="/images/chicken/lemonHerb.webp" alt="Lemon Herb Chickens">
                    <h2>Lemon Herb Chicken</h2>
                    <p>$10.99</p>
                </div>
                <div class="burger-item" id="teriyaki-chicken">
                    <img src="/images/chicken/teriyakiChicken.webp" alt="Teriyaki Chicken">
                    <h2>Teriyaki Chicken</h2>
                    <p>$10.49</p>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <%- include('partials/footer') %>

            <script src="/js/script.js"></script>
</body>

</html>