<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <title>Our Desserts</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>

    <!-- Header -->
    <%- include('partials/header') %>

        <header>
            <h1>Dessert Menu</h1>
        </header>
        <main>
            <div class="burger-container">
                <div class="burger-item" id="chocolate-lavaCake">
                    <img src="/images/desserts/Chocolate-Lava-Cake-Recipe.jpg" alt="Chocolate Lava Cake">
                    <h2>Chocolate Lava Cake</h2>
                    <p>$6.99</p>
                </div>
                <div class="burger-item" id="cheeseCake">
                    <img src="/images/desserts/cheeseCake.jpg" alt="Cheesecake">
                    <h2>Cheese Cake</h2>
                    <p>$5.99</p>
                </div>
                <div class="burger-item" id="tiramisu">
                    <img src="/images/desserts/tiramisu_cake_13686_16x9.jpg" alt="Tiramisu">
                    <h2>Tiramisu</h2>
                    <p>$6.49</p>
                </div>
                <div class="burger-item" id="apple-pie">
                    <img src="/images/desserts/applePie.jpg" alt="Apple Pie">
                    <h2>Apple Pie</h2>
                    <p>$4.99</p>
                </div>
                <div class="burger-item" id="brownie-sundae">
                    <img src="/images/desserts/ice-cream_sundaes_caramel-fudge-brownie-sundae.jpg" alt="Brownie Sundae">
                    <h2>Brownie Sundae</h2>
                    <p>$5.49</p>
                </div>
                <div class="burger-item" id="panna-cotta">
                    <img src="/images/desserts/vanillapannacotta_87907_16x9.jpg" alt="Panna Cotta">
                    <h2>Panna Cotta</h2>
                    <p>$6.99</p>
                </div>
                <div class="burger-item" id="banana-split">
                    <img src="/images/desserts/bananaSPlit.jpg" alt="Banana Split">
                    <h2>Banana Split</h2>
                    <p>$5.99</p>
                </div>
                <div class="burger-item" id="Creme Brulee">
                    <img src="/images/desserts/Creme-Brulee.webp" alt="Creme Brulee">
                    <h2>Creme Brulee</h2>
                    <p>$6.99</p>
                </div>
                <div class="burger-item" id="lemon-tart">
                    <img src="/images/desserts/lemonTart.jpg" alt="Lemon Tart">
                    <h2>Lemon Tart</h2>
                    <p>$5.49</p>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <%- include('partials/footer') %>

            <script src="/js/script.js"></script>
</body>

</html>