<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Hub</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
</head>

<body>
    <!-- Header -->
    <%- include('partials/header') %>

    <!-- FEEDBACK FORM -->
    <div class="feedbackForm-container">
        <h2 class="text-center">Feedback Form</h2>
        <form>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter your name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="feedback">Feedback:</label>
                <textarea class="form-control" id="feedback" rows="5" placeholder="Enter your feedback"
                    required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit Feedback</button>
        </form>
    </div>

    <!-- Footer -->
    <%- include('partials/footer') %>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


    <script src="/js/script.js"></script>
</body>

</html>