<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Restaurant Hub</title>
</head>

<body>

    <!-- Header -->
    <%- include('partials/header') %>


        <!-- MENU -->
        <header>
            <h1>Menu</h1>
        </header>
        <div class="menu-container">
            <div class="menu-item">
                <img src="images/burgers/mainBurger.jpg" alt="Burgers">
                <h3>Burgers</h3>
                <p>They are popular menu items at fast food chains, diners, and high-end restaurants alike. Burgers have
                    become a staple of American cuisine and a global phenomenon.
                </p>
                <div class="subcategory">
                    <a href="/burgers">
                        <img title="rightarrow"
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAKdJREFUSEvtlMENwjAQBGc7IZ1AJ3QSOoFOaIVOjpzkB4oS2evgX/zxx5qxd08Wg5cG8zkF1YTtiCLiAbwkfap08Doo8BlI+K1FYr0gIi7Ae3lB7k0SS5CRuBJb4Eq6BI5kVxBLoy1T8nNms5O/CiRN60sdjegJXHOituAp6xKUSarCuwQO3Ba48B7BHchodjM/XHL+R5Lyw2taXSU3kcuhU1BNa3hEX2PzSxmpD54CAAAAAElFTkSuQmCC" />
                    </a>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/chicken/mainChicken.jpg" alt="Chicken">
                <h3>Chicken</h3>
                <p>Chicken breasts, thighs, drumsticks, and wings are all common cuts of chicken used for grilling.
                    Boneless, skinless chicken breasts are a popular choice.</p>
                <div class="subcategory">
                    <a href="/chicken">
                        <img title="rightarrow"
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAKdJREFUSEvtlMENwjAQBGc7IZ1AJ3QSOoFOaIVOjpzkB4oS2evgX/zxx5qxd08Wg5cG8zkF1YTtiCLiAbwkfap08Doo8BlI+K1FYr0gIi7Ae3lB7k0SS5CRuBJb4Eq6BI5kVxBLoy1T8nNms5O/CiRN60sdjegJXHOituAp6xKUSarCuwQO3Ba48B7BHchodjM/XHL+R5Lyw2taXSU3kcuhU1BNa3hEX2PzSxmpD54CAAAAAElFTkSuQmCC" />
                    </a>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/soups/mainSoup.jpg" alt="Soups">
                <h3>Soups</h3>
                <p>Soups are a liquid dish, typically made by boiling meat, vegetables, grains, and/or other ingredients
                    in
                    stock or water. Soups made in large batches for easy reheating and serving later.</p>
                <div class="subcategory">
                    <a href="/soup">
                        <img title="rightarrow"
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAKdJREFUSEvtlMENwjAQBGc7IZ1AJ3QSOoFOaIVOjpzkB4oS2evgX/zxx5qxd08Wg5cG8zkF1YTtiCLiAbwkfap08Doo8BlI+K1FYr0gIi7Ae3lB7k0SS5CRuBJb4Eq6BI5kVxBLoy1T8nNms5O/CiRN60sdjegJXHOituAp6xKUSarCuwQO3Ba48B7BHchodjM/XHL+R5Lyw2taXSU3kcuhU1BNa3hEX2PzSxmpD54CAAAAAElFTkSuQmCC" />
                    </a>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/pizza/mainPizza.avif" alt="Pizza">
                <h3>Pizza</h3>
                <p>Pizza is often considered a comfort food in many cuisines and cultures around the world.
                    Pizza is one of the most popular fast foods globally, with major chains.
                </p>
                <div class="subcategory">
                    <a href="/pizza">
                        <img title="rightarrow"
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAKdJREFUSEvtlMENwjAQBGc7IZ1AJ3QSOoFOaIVOjpzkB4oS2evgX/zxx5qxd08Wg5cG8zkF1YTtiCLiAbwkfap08Doo8BlI+K1FYr0gIi7Ae3lB7k0SS5CRuBJb4Eq6BI5kVxBLoy1T8nNms5O/CiRN60sdjegJXHOituAp6xKUSarCuwQO3Ba48B7BHchodjM/XHL+R5Lyw2taXSU3kcuhU1BNa3hEX2PzSxmpD54CAAAAAElFTkSuQmCC" />
                    </a>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/desserts/mainDessert.jpg" alt="Desserts">
                <h3>Desserts</h3>
                <p>Desserts are sweet food items that are typically served at the end of a meal. They can range from
                    cakes,
                    pies, cookies, and ice cream to puddings, mousses, and fruit-based treats.</p>
                <div class="subcategory">
                    <a href="/desserts">
                        <img title="rightarrow"
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAKdJREFUSEvtlMENwjAQBGc7IZ1AJ3QSOoFOaIVOjpzkB4oS2evgX/zxx5qxd08Wg5cG8zkF1YTtiCLiAbwkfap08Doo8BlI+K1FYr0gIi7Ae3lB7k0SS5CRuBJb4Eq6BI5kVxBLoy1T8nNms5O/CiRN60sdjegJXHOituAp6xKUSarCuwQO3Ba48B7BHchodjM/XHL+R5Lyw2taXSU3kcuhU1BNa3hEX2PzSxmpD54CAAAAAElFTkSuQmCC" />
                    </a>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/sandwiches/mainSandwich.jpg" alt="Sandwiches">
                <h3>Sandwichess</h3>
                <p>Sandwiches are a convenient and portable food that can be eaten for breakfast, lunch, dinner, or as a
                    snack. They are popular in many cultures around the world.</p>
                <div class="subcategory">
                    <a href="/sandwich">
                        <img title="rightarrow"
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAKdJREFUSEvtlMENwjAQBGc7IZ1AJ3QSOoFOaIVOjpzkB4oS2evgX/zxx5qxd08Wg5cG8zkF1YTtiCLiAbwkfap08Doo8BlI+K1FYr0gIi7Ae3lB7k0SS5CRuBJb4Eq6BI5kVxBLoy1T8nNms5O/CiRN60sdjegJXHOituAp6xKUSarCuwQO3Ba48B7BHchodjM/XHL+R5Lyw2taXSU3kcuhU1BNa3hEX2PzSxmpD54CAAAAAElFTkSuQmCC" />
                    </a>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/seafood/mainSeafood.jpg" alt="Sea Food">
                <h3>Sea Food</h3>
                <p>Seafood is a highly nutritious food source, providing a variety of proteins, vitamins,
                    minerals, and healthy fats like omega-3s. Seafood refers to any form of sea life that is consumed as
                    food.</p>
                <div class="subcategory">
                    <a href="/seafood">
                        <img title="rightarrow"
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAKdJREFUSEvtlMENwjAQBGc7IZ1AJ3QSOoFOaIVOjpzkB4oS2evgX/zxx5qxd08Wg5cG8zkF1YTtiCLiAbwkfap08Doo8BlI+K1FYr0gIi7Ae3lB7k0SS5CRuBJb4Eq6BI5kVxBLoy1T8nNms5O/CiRN60sdjegJXHOituAp6xKUSarCuwQO3Ba48B7BHchodjM/XHL+R5Lyw2taXSU3kcuhU1BNa3hEX2PzSxmpD54CAAAAAElFTkSuQmCC" />
                    </a>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/beverages/mainBeverage.jpg" alt="Beverages">
                <h3>Beverages</h3>
                <p>Beverages are liquids that are consumed to quench thirst, provide nutrition, or for enjoyment. They
                    can
                    be served hot or cold. Water is the most basic and essential beverage</p>
                <div class="subcategory">
                    <a href="/beverages">
                        <img title="rightarrow"
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAKdJREFUSEvtlMENwjAQBGc7IZ1AJ3QSOoFOaIVOjpzkB4oS2evgX/zxx5qxd08Wg5cG8zkF1YTtiCLiAbwkfap08Doo8BlI+K1FYr0gIi7Ae3lB7k0SS5CRuBJb4Eq6BI5kVxBLoy1T8nNms5O/CiRN60sdjegJXHOituAp6xKUSarCuwQO3Ba48B7BHchodjM/XHL+R5Lyw2taXSU3kcuhU1BNa3hEX2PzSxmpD54CAAAAAElFTkSuQmCC" />
                    </a>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <%- include('partials/footer') %>

            <!-- Font Awesome CDN for icons -->
            <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>

</html>