<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Our Pizza</title>
</head>

<body>

    <!-- Header -->
    <%- include('partials/header') %>

        <header>
            <h1>Pizza Menu</h1>
        </header>
        <main>
            <div class="burger-container">
                <div class="burger-item" id="margherita-Pizza">
                    <img src="/images/pizza/margheritaPizza.jpg" alt="Margherita Pizza">
                    <h2>Margherita Pizza</h2>
                    <p>$12.99</p>
                </div>
                <div class="burger-item" id="meat-lover">
                    <img src="/images/pizza/meatLoverPizza.jpg" alt="Meat Lover's Pizza">
                    <h2>Meat Lover's Pizza</h2>
                    <p>$16.99</p>
                </div>
                <div class="burger-item" id="bbq-chickenPizza">
                    <img src="/images/pizza/bbqPizza.webp" alt="BBQ Chicken Pizza">
                    <h2>BBQ Chicken Pizza</h2>
                    <p>$15.99</p>
                </div>
                <div class="burger-item" id="pepperoni-Pizza">
                    <img src="/images/pizza/pepperoniPizza.jpg" alt="Pepperoni Pizza">
                    <h2>Pepperoni Pizza</h2>
                    <p>$14.99</p>
                </div>
                <div class="burger-item" id="mushroom-swissPizza">
                    <img src="/images/pizza/mushroomSwissPizza.webp" alt="Mushroom and Swiss Pizza">
                    <h2>Mushroom and Swiss Pizza</h2>
                    <p>$14.99</p>
                </div>
                <div class="burger-item" id="veggie-pizza">
                    <img src="/images/pizza/veggiePizza.webp" alt="Veggie Pizza">
                    <h2>Veggie Pizza</h2>
                    <p>$13.99</p>
                </div>
                <div class="burger-item" id="buffalo-chickenPizza">
                    <img src="/images/pizza/buffaloPizza.jpg" alt="Buffalo Chicken Pizza">
                    <h2>Buffalo Chicken Pizza</h2>
                    <p>$15.49</p>
                </div>
                <div class="burger-item" id="hawaiian-pizza">
                    <img src="/images/pizza/hawaiianPizzajpg.jpg" alt="Hawaiian Pizza">
                    <h2>Hawaiian Pizza</h2>
                    <p>$14.49</p>
                </div>
                <div class="burger-item" id="four-cheesePizza">
                    <img src="/images/pizza/fourCheese.jpg" alt="Four Cheese Pizza ">
                    <h2>Four Cheese Pizza </h2>
                    <p>$13.99</p>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <%- include('partials/footer') %>

            <script src="/js/script.js"></script>
</body>

</html>