<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <title>Our Sandwich</title>
</head>

<body>

    <!-- Header -->
    <%- include ('partials/header') %>

        <header>
            <h1>Sandwich Menu</h1>
        </header>
        <main>
            <div class="burger-container">
                <div class="burger-item" id="club-sandwich">
                    <img src="/images/sandwiches/clubSandwich.jpg" alt="Club Sandwich">
                    <h2>Club Sandwich</h2>
                    <p>$8.99</p>
                </div>
                <div class="burger-item" id="avocado-sandwich">
                    <img src="/images/sandwiches/avocado.jpg" alt="Avocado Sandwich">
                    <h2>Avocado Sandwich</h2>
                    <p>$9.49</p>
                </div>
                <div class="burger-item" id="chicken-caesarSandwich">
                    <img src="/images/sandwiches/chickenCaeser.jpg" alt="Chicken Caesar Sandwich">
                    <h2>Chicken Caesar Sandwich</h2>
                    <p>$9.99</p>
                </div>
                <div class="burger-item" id="BLT">
                    <img src="/images/sandwiches/blt.jpg" alt="BLT (Bacon, Lettuce, Tomato)">
                    <h2>(Bacon, Lettuce, Tomato)</h2>
                    <p>$7.99</p>
                </div>
                <div class="burger-item" id="ham-cheeseSandwich">
                    <img src="/images/sandwiches/hamCheese.jpg" alt="Ham and Cheese Sandwich">
                    <h2>Ham and Cheese Sandwich</h2>
                    <p>$7.49</p>
                </div>
                <div class="burger-item" id="veggie-sandwich">
                    <img src="/images/sandwiches/veggieSandwich.jpgitokcORJiWaR" alt="Veggie Sandwich">
                    <h2>Veggie Sandwich</h2>
                    <p>$7.49</p>
                </div>
                <div class="burger-item" id="pulled-porkSandwich">
                    <img src="/images/sandwiches/pulledPork.jpg" alt="Pulled Pork Sandwich">
                    <h2>Pulled Pork Sandwich</h2>
                    <p>$9.99</p>
                </div>


                <div class="burger-item" id="roast-beefSandwich">
                    <img src="/images/sandwiches/RoastBeefGrilledCheeseSandwich5007975.jpg" alt="Roast Beef Sandwich">
                    <h2>Roast Beef Sandwich</h2>
                    <p>$8.99</p>
                </div>
                <div class="burger-item" id="grilled-cheeseSandwich">
                    <img src="/images/sandwiches/grilledCheese.jpg" alt="Grilled Cheese Sandwich">
                    <h2>Grilled Cheese Sandwich</h2>
                    <p>$6.99</p>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <%- include('partials/footer') %>

            <script src="/js/script.js"></script>
</body>

</html>