<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <title>Our Seafood</title>
</head>

<body>

    <!-- Header -->
    <%- include ('partials/header') %>

        <header>
            <h1>Seafood Menu</h1>
        </header>
        <main>
            <div class="burger-container">
                <div class="burger-item" id="grilled-salmon">
                    <img src="/images/seafood/grilledSalmon.jpg" alt="Grilled Salmon">
                    <h2>Grilled Salmon</h2>
                    <p>$18.99</p>
                </div>
                <div class="burger-item" id="garlic-butterShrimp">
                    <img src="/images/seafood/garlicShrimp.jpg" alt="Garlic Butter Shrimp">
                    <h2>Garlic Butter Shrimp</h2>
                    <p>$16.99</p>
                </div>
                <div class="burger-item" id="fried-calamari">
                    <img src="/images/seafood/friedCalamari.jpg" alt="Fried Calamari">
                    <h2>Fried Calamari</h2>
                    <p>$14.99</p>
                </div>
                <div class="burger-item" id="lemon-herbTilapia">
                    <img src="/images/seafood/lemonHerb.jpg" alt="Lemon Herb Tilapia">
                    <h2>Lemon Herb Tilapia</h2>
                    <p>$15.49</p>
                </div>
                <div class="burger-item" id="spicy-tunaSteak">
                    <img src="/images/seafood/spicyTuna.jpg" alt="Spicy Tuna Steak">
                    <h2>Spicy Tuna Steak</h2>
                    <p>$19.99</p>
                </div>
                <div class="burger-item" id="seafood-paella">
                    <img src="/images/seafood/seafoodPaells.jpg" alt="Seafood Paella">
                    <h2>Seafood Paella</h2>
                    <p>$20.99</p>
                </div>
                <div class="burger-item" id="shrimp-scampi">
                    <img src="/images/seafood/shrimpScampi.jpg" alt="Shrimp Scampi">
                    <h2>Shrimp Scampi</h2>
                    <p>$17.99</p>
                </div>
                <div class="burger-item" id="baked-cod">
                    <img src="/images/seafood/bakedCod.jpg" alt="Baked Cod">
                    <h2>Baked Cod</h2>
                    <p>$16.49</p>
                </div>
                <div class="burger-item" id="Crab Cakes">
                    <img src="/images/seafood/crabCake.jpg" alt="Crab Cakes">
                    <h2>Crab Cakes</h2>
                    <p>$18.49</p>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <%- include('partials/footer') %>

            <script src="/js/script.js"></script>
</body>

</html>