<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <title>Our Soup</title>
</head>

<body>

    <!-- Header -->
    <%- include ('partials/header') %>

        <header>
            <h1>Soup Menu</h1>
        </header>
        <main>
            <div class="burger-container">
                <div class="burger-item" id="chicken-noodleSoup">
                    <img src="/images/soups/chickenNoodle.jpg" alt="Chicken Noodle Soup">
                    <h2>Chicken Noodle Soup</h2>
                    <p>$5.99</p>
                </div>
                <div class="burger-item" id="tomato-basil">
                    <img src="/images/soups/tomatoBasil.jpg" alt="Tomato Basil Soup">
                    <h2>Tomato Basil Soup</h2>
                    <p>$4.99</p>
                </div>
                <div class="burger-item" id="broccoli-cheddarSoup">
                    <img src="/images/soups/broccoliCheddar.jpg" alt="Broccoli Cheddar Soup">
                    <h2>Broccoli Cheddar Soup</h2>
                    <p>$6.49</p>
                </div>
                <div class="burger-item" id="french-onion">
                    <img src="/images/soups/frenchOnion.jpg" alt="French Onion Soup">
                    <h2>French Onion Soup</h2>
                    <p>$6.49</p>
                </div>
                <div class="burger-item" id="minestrone-soup">
                    <img src="/images/soups/minestroneSoup.jpg" alt="Minestrone Soup">
                    <h2>Minestrone Soup</h2>
                    <p>$5.49</p>
                </div>
                <div class="burger-item" id="clam-chowder">
                    <img src="/images/soups/calmChowder.jpg" alt="Clam Chowder">
                    <h2>Clam Chowder</h2>
                    <p>$6.99</p>
                </div>
                <div class="burger-item" id="lentil-soup">
                    <img src="/images/soups/lentilSoup.jpg" alt="Lentil Soup">
                    <h2>Lentil Soup</h2>
                    <p>$5.99</p>
                </div>
                <div class="burger-item" id="butternut-squashSoup">
                    <img src="/images/soups/butternutSquash.jpg" alt="Butternut Squash Soup">
                    <h2>Butternut Squash Soup</h2>
                    <p>$5.99</p>
                </div>
                <div class="burger-item" id="beef-barleySoup">
                    <img src="/images/soups/beefBarley.jpeg" alt="Beef and Barley Soup">
                    <h2>Beef and Barley Soup</h2>
                    <p>$6.99</p>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <%- include('partials/footer') %>

            <script src="/js/script.js"></script>
</body>

</html>